body {
  padding: auto;
  margin: auto;
}
.navbar-brand {
  height: 4rem;
}
.card1 {
  margin-top: 50px;
  margin-left: 50px;
  height: 300px;
  border: solid;
  border-color: rgb(5, 5, 5);
  border-color: teal;

footer {
  background-color: lightsalmon;
  text-align: center;
  font-size: 14px;
  line-height: 2rem;
  border-top: 6px #efefef;
}