body {
  padding: auto;
  margin: auto;
}

.navbar-brand {
  height: 3rem;
}

.container {
  margin-top: 50px;
  margin-left: 20px;
  height: 300px;
  border: solid;
  border-color: teal;
}





footer {
  background-color: lightsalmon;
  text-align: center;
  font-size: 14px;
  line-height: 2rem;
  border-top: 6px #efefef;
}
