* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;  
}

.container {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

h1 {
   
}