body {
  padding: auto;
  margin: auto;
}
.navbar-brand {
  height: 4rem;
}

.container-md {
  margin-right: 120px;
  border: 40;
}

ul, li{
  list-style:none;
  list-style-type:none;
  color: black; /* bullet color */
}

.card1 {
  width: 300px;
  height: 120px;
  left: 700px;
  margin: 40px;
  bottom: 180px;
}

footer {
 background-color: lightsalmon;
  text-align: center;
  font-size: 14px;
  line-height: 1rem;
  border-top: 6px #efefef;
}