* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(54, 179, 201);
  font-family: "Rubik", sans-serif;
  height: auto;
}

.navbar-brand {
  height: 4rem;
}

#id {
  margin: 20px;
  padding: 20px;
  justify-content: center;
}

h1 {
  text-align: center;
}

.container {
  max-width: 600px;
  height: auto;
  background-color: grey;
  margin: auto;
  box-sizing: border-box;
  padding: 20px;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

/* the word message */
.form-control { 
 margin: 5px -120px 0px 0;
}

input submit {
  background-color: grey;
  color: grey;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-inline {
  flex-direction: column;
  align-items: baseline;
}

footer {
  background-color: lightsalmon;
  text-align: center;
  font-size: 14px;
  line-height: 1rem;
  border-top: 6px #efefef;
}
